.wrapper_registro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titulo_formulario {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 28px;

    color: white;
}

.tarjeta_formulario {
    background-color: #273142;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.grid_formulario {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 24px 32px;
    width: 100%;
    max-width: 1000px; 
    justify-content: center;
}

/* FOTO */
.contenedor_foto {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.avatar_preview {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #d1d5db;
    margin-bottom: 10px;
}

.editar_foto {
    color: #38bdf8;
    font-size: 0.9rem;
    cursor: pointer;
}

/* INPUTS */
.campo {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.label {
    font-size: 0.85rem;
    color: #cbd5e1;
}

.input_estilizado,
.select_estilizado,
.textarea_estilizado {
    background-color: #1f2937;
    border: none;
    border-radius: 8px;
    padding: 12px 14px;
    color: white;
    font-size: 0.9rem;
    outline: none;
    transition: 0.2s;
}

.select_estilizado {
    cursor: pointer;
}

.input_estilizado:focus,
.select_estilizado:focus,
.textarea_estilizado:focus {
    border: 1px solid #705cf6;
}

.textarea_estilizado {
    resize: none;
    height: 90px;
}

.columna_completa {
    grid-column: span 2;
}

/* BOTÓN */
.boton_registro {
    grid-column: span 2;
    margin-top: 10px;
    padding: 14px;
    border-radius: 10px;
    background-color: #705cf6;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    transition: 0.2s;
    justify-self: center;
}

.boton_registro:hover {
    background-color: #5b49d4;
}

.boton_registro:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}