* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #1a202c; /* Color de fondo oscuro base */
  color: #ffffff;
}

/* Resetea el contenedor de Vite para que ocupe toda la pantalla */
#root {
  width: 100%;
  min-height: 100vh;
}
